/* CSS Document */

#gamearea ul
{
	margin: 0px;
	padding: 0px;
}

#gamearea li
{
	display: inline;
	position: absolute;
}

#gamearea li.selected
{
	border: 2px solid #2F74D0;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}

#gamearea ul.player_hand img, #gamearea ul.played_cards img
{
	border: 1px solid #736F6E;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}

#gamearea #north, #gamearea #west, #gamearea #east, #gamearea #south
{
	width: 400px;
	height: 142px;
}

#gamearea #north
{
	position: relative;
	top: 20px;
	left: 185px;
}

#gamearea #south
{
	position: relative;
	top: 153px;
	left: 185px;
}

#gamearea #west
{
	position: relative;
	top: 160px;
	left: -105px;
}

#gamearea #east
{
	position: relative;
	top: 5px;
	left: 480px;
}

#gamearea #center
{
	position: relative;
	top: -350px;
	left: 230px;
	width: 320px;
	height: 305px;
}