/* CSS Document */

body 
{
	background:	white url("../images/woodbg.jpg");
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin:	0px;
	padding: 0px;
}

#container
{
	width: 1024px;
	height: 800px;
	margin: 0px auto;
	/*border: 2px solid black;*/
}

.rotate_90
{
	transform: rotate(90deg);
	-ms-transform: rotate(90deg);		/* IE 9 */
	-moz-transform: rotate(90deg);		/* Firefox */
	-webkit-transform: rotate(90deg);	/* Safari and Chrome */
	-o-transform: rotate(90deg);		/* Opera */
}

.rotate_270
{
	transform: rotate(270deg);
	-ms-transform: rotate(270deg);		/* IE 9 */
	-moz-transform: rotate(270deg);		/* Firefox */
	-webkit-transform: rotate(270deg);	/* Safari and Chrome */
	-o-transform: rotate(270deg);		/* Opera */
}